.btnVolver{
    background-color: red;
}

.btnGuardar{
    background-color: blue;
}

.header{
    background: #111;
    color: #fff;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}